<div class="container">
  <div class="columns">
    <div class="column has-text-centered">
      <h1 class="title is-1">
        Search for jobs
      </h1>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <%= form_for :job, url: job_search_index_path(), method: :post, html: { class: "form" } do |f| %>
        <div class="field">
          <div class="control">
            <input class="input" type="text" name="search_place" value="<%= params[:search_place] || 'Munich' %>">
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <%= f.submit value: 'Search', class: 'button is-link', "data-disable-with": 'Search' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="container">
    <div class="columns">
      <div class="column">
        <% @jobs.each do |job| %>
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="<%= job['company_logo'] %>" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                  <strong><%= job['title'] %></strong> <small><%= job['company'] %></small> | <small>Posted <%= time_ago_in_words(Time.parse(job['created_at'])) %> ago</small>
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <small class="level-item has-text-danger"><%= Vote.total_downvotes(job['id']).count %> down-votes</small>
                    <small class="level-item">|</small>
                    <small class="level-item has-text-success"><%= Vote.total_upvotes(job['id']).count %> up-votes</small>
                    <small class="level-item"><%= display_upvoted_users(job['id']) %></small>
                  </div>
                  <div class="level-right">
                    <%= link_to 'Up-vote', votes_path(job_id: job['id'], up_vote: true), method: :post, class: 'level-item button is-small is-success', aria_label: 'upvote' %>
                    <%= link_to 'down-vote', votes_path(job_id: job['id'], down_vote: true), method: :post, class: 'level-item button is-small is-danger', aria_label: 'downvote' %>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
